/* colors:
#576A8F
#B7BDF7
#B7BDF7
#F2A65A */

* {
  box-sizing: border-box;
  margin: 0;
  /* outline: 1px dotted red; */
}

body {
  background: linear-gradient(360deg, #6fb8d8 0%, #aacddc 50%);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  margin: 10px;
}

#calculator-container {
  width: 300px;
  height: 500px;

  border-radius: 40px;
  align-self: center;
  display: flex;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#display {
  background: #fff8de;
  border: 2px solid#BFC6C4;
  width: 250px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  font-family: "JetBrains Mono", monospace;
  font-size: 35px;
  font-weight: bold;
  overflow: hidden;
  flex-wrap: wrap;
}

button {
  margin: auto;
  /* border-style: outset; */
  border-radius: 5px;
  border: 2px solid;
}

#buttons-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  /* outline: 1px dotted red; */

  width: 300px;
  justify-content: center;
}

#buttons-container * {
  margin: 0px;
  font-size: large;
  font-weight: bold;

  flex-grow: 1;
  /* outline: 1px dotted red; */
}

#buttons-container * {
  /* outline: 1px dotted red; */
  gap: 5px;
}

#first-row,
#second-row,
#third-row,
#fourth-row,
#fifth-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#leftBtn-container {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 0px 30px;
  /* outline: 1px dotted red; */
  height: 325px;
  flex-grow: 2;
}

#rightBtn-container {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 10px;
  height: 325px;
  width: 80px;
}

#calculator-container {
  border: 2px solid #ff788d;
  background: #ff9d9d;
}

button:active {
  /* border-style: inset; */
}
/* Clear Buttons */
.clear-btn {
  background-color: #fa5c5c;
  border-color: #fb3c3c;
}
.clear-btn:hover,
.clear-btn-hover {
  background-color: #fd8a6b;
}
.clear-btn:active,
.clear-btn-active {
  background-color: #fec288;
}
/* Digit Buttons */
.digit-btn {
  background-color: #8cc0eb;
  border-color: #4ba0e6;
}
.digit-btn:hover,
.digit-btn-hover {
  background-color: #bfddf0;
}
.digit-btn:active,
.digit-btn-active {
  background-color: #ddeaf2;
}
/* Operator Buttons */
.operator-btn {
  background-color: #abe7b2;

  border-color: #54b445;
}
.operator-btn:hover,
.operator-btn-hover {
  background-color: #cbf3bb;
}
.operator-btn:active,
.operator-btn-active {
  background-color: #ecf4e8;
}
/* Equal Button */
#equalBtn {
  background: #ffa500;

  border-color: #b67600;
}
#equalBtn:hover,
#equalBtn.equal-btn-hover {
  background: #ffb730;
}
#equalBtn:active,
#equalBtn.equal-btn-active {
  background: #ffd27d;
}

.explanation-text {
  margin-top: auto;
  margin-bottom: 0px;
  font-size: 25px;
  color: #004a6a;
}

footer {
  margin-top: auto;
  background: #576a8f;
  color: #fff8de;
  font-weight: bold;
  padding: 10px;
}

::selection {
  color: #fff8de;
  background: #81a6c6;
  font-family: "Roboto", sans-serif;
}
