* {
  box-sizing: border-box;
  margin: 0;
  outline: 1px dotted red;
}

body {
  background-color: #c8f9f0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  margin: 10px;
}

#calculator-container {
  width: 300px;
  height: 500px;
  border: 5px solid blue;
  background: cyan;
  border-radius: 10px;
  align-self: center;
  display: flex;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#display {
  background-color: silver;
  width: 250px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-family: "JetBrains Mono", monospace;
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  flex-wrap: wrap;
}

button {
  margin: auto;
}

#buttons-container {
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: column;
  height: 200px;
}

#buttons-container * {
  margin: 0px;
  font-size: large;
  font-weight: bold;
  padding: 9px;
  /* outline: 2px solid red; */
  border-radius: 5px;
}
