/* colors:
#576A8F
#B7BDF7
#B7BDF7
#F2A65A */

* {
  box-sizing: border-box;
  margin: 0;
  /* outline: 1px dotted red; */
}

body {
  background: linear-gradient(360deg, #6fb8d8 0%, #aacddc 50%);
  font-family: "Roboto", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  margin: 10px;
}

#calculator-container {
  width: 300px;
  height: 500px;
  border: 2px solid #576a8f;
  background: linear-gradient(180deg, #a1c9e2 0%, #6594b1 50%);
  border-radius: 40px;
  align-self: center;
  display: flex;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#display {
  background: #fff8de;
  border: 2px solid#BFC6C4;
  width: 250px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  font-family: "JetBrains Mono", monospace;
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  flex-wrap: wrap;
}

button {
  margin: auto;
  /* background-color: #f2a65a; */
  /* background: #f2a65a; */
  background: linear-gradient(180deg, #f7bd87 0%, #f2a65a 50%);
  border-style: outset;
  border-radius: 5px;

  /* transition-duration: 0.2s; */
}

button:hover {
  background: #f0c294;
}

button:active {
  /* background: #f0c294; */

  background: linear-gradient(180deg, #f2a65a 0%, #f7bd87 50%);
  border-style: inset;
}

#buttons-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  /* outline: 1px dotted red; */

  width: 300px;
  justify-content: center;
}

#buttons-container * {
  margin: 0px;
  font-size: large;
  font-weight: bold;

  flex-grow: 1;
  /* outline: 1px dotted red; */
  height: fit-content;
}

#first-row,
#second-row,
#third-row,
#fourth-row,
#fifth-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#numpad-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* padding-left: 30px;
  padding-right: 5px; */
  padding: 20px 5px 50px 30px;
  /* outline: 1px dotted red; */
}

#operationBtn-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  padding: 20px 30px 50px 50px;
  padding-right: 30px;
  padding-left: 5px;
}

#equalBtn {
  background: orange;
}
#equalBtn:hover {
  background: #ffb730;
}
#equalBtn:active {
  background: rgb(255, 210, 125);
}

footer {
  margin-top: auto;
  background: #576a8f;
  color: #fff8de;
  font-weight: bold;
  padding: 10px;
}

::selection {
  color: #fff8de;
  background: #81a6c6;
  font-family: "Roboto", sans-serif;
}
